<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG pop up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{770,815}</string>
                <key>spriteSourceSize</key>
                <string>{770,815}</string>
                <key>textureRect</key>
                <string>{{1,1},{770,815}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,136}</string>
                <key>spriteSourceSize</key>
                <string>{414,136}</string>
                <key>textureRect</key>
                <string>{{1,1055},{414,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,110}</string>
                <key>spriteSourceSize</key>
                <string>{97,110}</string>
                <key>textureRect</key>
                <string>{{848,1285},{97,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,99}</string>
                <key>spriteSourceSize</key>
                <string>{272,99}</string>
                <key>textureRect</key>
                <string>{{805,886},{272,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,85}</string>
                <key>spriteSourceSize</key>
                <string>{123,85}</string>
                <key>textureRect</key>
                <string>{{675,1303},{123,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{762,1292},{123,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,60}</string>
                <key>spriteSourceSize</key>
                <string>{382,60}</string>
                <key>textureRect</key>
                <string>{{613,1039},{382,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,62}</string>
                <key>spriteSourceSize</key>
                <string>{360,62}</string>
                <key>textureRect</key>
                <string>{{741,930},{360,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,62}</string>
                <key>spriteSourceSize</key>
                <string>{219,62}</string>
                <key>textureRect</key>
                <string>{{609,818},{219,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,64}</string>
                <key>spriteSourceSize</key>
                <string>{371,64}</string>
                <key>textureRect</key>
                <string>{{675,930},{371,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,59}</string>
                <key>spriteSourceSize</key>
                <string>{264,59}</string>
                <key>textureRect</key>
                <string>{{906,886},{264,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,136}</string>
                <key>spriteSourceSize</key>
                <string>{414,136}</string>
                <key>textureRect</key>
                <string>{{139,1055},{414,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,57}</string>
                <key>spriteSourceSize</key>
                <string>{226,57}</string>
                <key>textureRect</key>
                <string>{{951,609},{226,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,58}</string>
                <key>spriteSourceSize</key>
                <string>{394,58}</string>
                <key>textureRect</key>
                <string>{{553,1055},{394,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,54}</string>
                <key>spriteSourceSize</key>
                <string>{219,54}</string>
                <key>textureRect</key>
                <string>{{947,1152},{219,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,136}</string>
                <key>spriteSourceSize</key>
                <string>{414,136}</string>
                <key>textureRect</key>
                <string>{{277,1055},{414,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,136}</string>
                <key>spriteSourceSize</key>
                <string>{414,136}</string>
                <key>textureRect</key>
                <string>{{415,1055},{414,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,176}</string>
                <key>spriteSourceSize</key>
                <string>{275,176}</string>
                <key>textureRect</key>
                <string>{{773,609},{275,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,235}</string>
                <key>spriteSourceSize</key>
                <string>{606,235}</string>
                <key>textureRect</key>
                <string>{{1,818},{606,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,235}</string>
                <key>spriteSourceSize</key>
                <string>{606,235}</string>
                <key>textureRect</key>
                <string>{{773,1},{606,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,85}</string>
                <key>spriteSourceSize</key>
                <string>{123,85}</string>
                <key>textureRect</key>
                <string>{{805,1160},{123,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,110}</string>
                <key>spriteSourceSize</key>
                <string>{98,110}</string>
                <key>textureRect</key>
                <string>{{673,818},{98,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>elememt-sprite-atlas.png</string>
            <key>size</key>
            <string>{1009,1470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75a027ebd136ba141430fb842fad1f1b:513b176419f237502b7f445568db68e3:ed1660db0e032e67bfda86cbb5437db9$</string>
            <key>textureFileName</key>
            <string>elememt-sprite-atlas.png</string>
        </dict>
    </dict>
</plist>
